@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/labirinto.css" />

<div class="row">
    <div class="col-md-7 text-center">
        <h4>Busca de caminho via Algoritmo Genético</h4>
    </div>
    <div class="col-md-5 text-left">
        <h4>Detalhes</h4>
    </div>
</div>

<div class="row"> 
    <div class="col-md-7">
        <div class="form-inline form-group">
            <label class="mr-1">Tam. População:</label>
            <input class="mr-1 form-control" type="number" style="width:80px;" value="100" id="tamanhoPopulacao" placeholder="Tam. População" />

            <label class="mr-1">Taxa. Crossover</label>
            <input class="mr-1 form-control" type="number" style="width:80px;" value="0.6" id="taxaCrossover" placeholder="Taxa Crossover" />

            <label class="mr-1">Taxa. De Mutação</label>
            <input class="form-control" type="number" style="width:80px;" value="0.3" id="taxaMutacao" placeholder="Taxa Mutação" />
        </div>
        <div class="form-group form-inline">
            <label for="eltismo">
                <input type="checkbox" id="eltismo" name="eltismo" checked /> Elitismo
            </label>
            <label class="ml-4 mr-1">Velocidade (ms)</label>
            <input class="form-control" type="number" style="width:80px;" value="2" id="velocidade" placeholder="Velocidade" />
        </div>
        <table id="labirinto" cellspadding="0" cellspacing="0" border="0">
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="6"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="6"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="6"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="6"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="6"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="6"></td>
                <td class="fora-do-cenario" data-x="0" data-y="6"></td>
                <td class="fora-do-cenario" data-x="1" data-y="6"></td>
                <td class="fora-do-cenario" data-x="2" data-y="6"></td>
                <td class="fora-do-cenario" data-x="3" data-y="6"></td>
                <td class="fora-do-cenario" data-x="4" data-y="6"></td>
                <td class="fora-do-cenario" data-x="5" data-y="6"></td>
                <td class="fora-do-cenario" data-x="6" data-y="6"></td>
                <td class="fora-do-cenario" data-x="7" data-y="6"></td>
                <td class="fora-do-cenario" data-x="8" data-y="6"></td>
                <td class="fora-do-cenario" data-x="9" data-y="6"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="5"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="5"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="5"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="5"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="5"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="5"></td>
                <td class="fora-do-cenario" data-x="0" data-y="5"></td>
                <td class="fora-do-cenario" data-x="1" data-y="5"></td>
                <td class="fora-do-cenario" data-x="2" data-y="5"></td>
                <td class="fora-do-cenario" data-x="3" data-y="5"></td>
                <td class="fora-do-cenario" data-x="4" data-y="5"></td>
                <td class="fora-do-cenario" data-x="5" data-y="5"></td>
                <td class="fora-do-cenario" data-x="6" data-y="5"></td>
                <td class="fora-do-cenario" data-x="7" data-y="5"></td>
                <td class="fora-do-cenario" data-x="8" data-y="5"></td>
                <td class="fora-do-cenario" data-x="9" data-y="5"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="4"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="4"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="4"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="4"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="4"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="4"></td>
                <td class="fora-do-cenario" data-x="0" data-y="4"></td>
                <td class="fora-do-cenario" data-x="1" data-y="4"></td>
                <td class="fora-do-cenario" data-x="2" data-y="4"></td>
                <td class="fora-do-cenario" data-x="3" data-y="4"></td>
                <td class="fora-do-cenario" data-x="4" data-y="4"></td>
                <td class="fora-do-cenario" data-x="5" data-y="4"></td>
                <td class="fora-do-cenario" data-x="6" data-y="4"></td>
                <td class="fora-do-cenario" data-x="7" data-y="4"></td>
                <td class="fora-do-cenario" data-x="8" data-y="4"></td>
                <td class="fora-do-cenario" data-x="9" data-y="4"></td>
            </tr>

            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="3"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="3"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="3"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="3"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="3"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="3"></td>

                <td class="borda-topo borda-left " data-x="0" data-y="3"></td>
                <td class="borda-topo" data-x="1" data-y="3"></td>
                <td class="borda-topo" data-x="2" data-y="3"></td>
                <td class="borda-topo" data-x="3" data-y="3"></td>

                <td class="fora-do-cenario" data-x="4" data-y="3"></td>
                <td class="fora-do-cenario" data-x="5" data-y="3"></td>
                <td class="fora-do-cenario" data-x="6" data-y="3"></td>
                <td class="fora-do-cenario" data-x="7" data-y="3"></td>
                <td class="fora-do-cenario" data-x="8" data-y="3"></td>
                <td class="fora-do-cenario" data-x="9" data-y="3"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="2"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="2"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="2"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="2"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="2"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="2"></td>
                <td class="borda-left" data-x="0" data-y="2"></td>
                <td data-x="1" data-y="2" class="parede1"></td>
                <td data-x="2" data-y="2"></td>
                <td data-x="3" data-y="2" class="borda-right"></td>
                <td class="fora-do-cenario" data-x="4" data-y="2"></td>
                <td class="fora-do-cenario" data-x="5" data-y="2"></td>
                <td class="fora-do-cenario" data-x="6" data-y="2"></td>
                <td class="fora-do-cenario" data-x="7" data-y="2"></td>
                <td class="fora-do-cenario" data-x="8" data-y="2"></td>
                <td class="fora-do-cenario" data-x="9" data-y="2"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="1"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="1"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="1"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="1"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="1"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="1"></td>

                <td class="borda-left" data-x="0" data-y="1"></td>
                <td data-x="1" data-y="1" class="parede2"></td>
                <td data-x="2" data-y="1"></td>
                <td data-x="3" data-y="1" class="parede3 borda-right"></td>
                <td class="fora-do-cenario" data-x="4" data-y="1"></td>
                <td class="fora-do-cenario" data-x="5" data-y="1"></td>
                <td class="fora-do-cenario" data-x="6" data-y="1"></td>
                <td class="fora-do-cenario" data-x="7" data-y="1"></td>
                <td class="fora-do-cenario" data-x="8" data-y="1"></td>
                <td class="fora-do-cenario" data-x="9" data-y="1"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="0"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="0"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="0"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="0"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="0"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="0"></td>

                <td class="borda-bottom" data-x="0" data-y="0"></td>
                <td class="borda-bottom" data-x="1" data-y="0"></td>
                <td class="borda-bottom" data-x="2" data-y="0"></td>
                <td class="borda-bottom borda-right" data-x="3" data-y="0"></td>
                <td class="fora-do-cenario" data-x="4" data-y="0"></td>
                <td class="fora-do-cenario" data-x="5" data-y="0"></td>
                <td class="fora-do-cenario" data-x="6" data-y="0"></td>
                <td class="fora-do-cenario" data-x="7" data-y="0"></td>
                <td class="fora-do-cenario" data-x="8" data-y="0"></td>
                <td class="fora-do-cenario" data-x="9" data-y="0"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="0" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="1" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="2" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="3" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="4" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="5" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="6" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="7" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="8" data-y="-1"></td>
                <td class="fora-do-cenario" data-x="9" data-y="-1"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="0" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="1" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="2" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="3" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="4" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="5" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="6" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="7" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="8" data-y="-2"></td>
                <td class="fora-do-cenario" data-x="9" data-y="-2"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="0" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="1" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="2" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="3" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="4" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="5" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="6" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="7" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="8" data-y="-3"></td>
                <td class="fora-do-cenario" data-x="9" data-y="-3"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="0" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="1" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="2" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="3" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="4" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="5" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="6" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="7" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="8" data-y="-4"></td>
                <td class="fora-do-cenario" data-x="9" data-y="-4"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="0" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="1" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="2" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="3" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="4" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="5" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="6" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="7" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="8" data-y="-5"></td>
                <td class="fora-do-cenario" data-x="9" data-y="-5"></td>
            </tr>
            <tr>
                <td class="fora-do-cenario" data-x="-6" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="-5" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="-4" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="-3" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="-2" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="-1" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="0" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="1" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="2" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="3" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="4" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="5" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="6" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="7" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="8" data-y="-6"></td>
                <td class="fora-do-cenario" data-x="9" data-y="-6"></td>
            </tr>
        </table>

        <button class="btn btn-block btn-dark mt-2 " type="button" id="btn-iniciar">
            <span id="" class="processando spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            <span class="nao-processando">Iniciar</span>
            <span class="processando d-none">Processando, aguarde</span>
        </button>

    </div>
    <div class="col-md-5">
        <div class="detalhes text-left" id="detalhes"></div>
    </div>
</div>