
    #labirinto td {
        border: 1px solid #f5b9b9;
    }
   
    #labirinto td {
        height: 20px;
        width: 50px;
        background-color: #e1e58c;
    }
.parede1 {
    border-top: 3px solid #8a0d0d !important;
    border-right: 3px solid #8a0d0d !important;
}
.parede2 {
    border-bottom: 3px solid #8a0d0d !important;
    border-right: 3px solid #8a0d0d !important;
}
.parede3 {
    border-left: 3px solid #8a0d0d !important;
    border-top: 3px solid #8a0d0d !important;
    border-right: 3px solid #8a0d0d !important;
}


#labirinto .borda-topo {
    border-top: 3px solid #8a0d0d;
}
#labirinto .borda-bottom {
    border-bottom: 3px solid #8a0d0d;
}
#labirinto .borda-left {
    border-left: 3px solid #8a0d0d;
}
#labirinto .borda-right {
    border-right: 3px solid #8a0d0d;
}
.ativo {
    background-color: lightgreen !important;
}
#labirinto .fora-do-cenario {
    background-color: #fff;
}